.paddingResponsive {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 500px) {
  .paddingResponsive {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .paddingResponsive {
    padding-left: 7em;
    padding-right: 7em;
  }
}
