.paddingResponsive {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 500px) {
  .paddingResponsive {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .paddingResponsive {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media only screen and (min-width: 1024px) {
  .paddingResponsive {
    padding-left: 8em;
    padding-right: 8em;
  }
}
